@use '../common/var';
@use '../mixins/mixins';
@use 'picker-panel';

@include mixins.b(date-picker) {
  width: 322px;

  &.has-sidebar.has-time {
    width: 434px;
  }

  &.has-sidebar {
    width: 438px;
  }

  &.has-time .el-picker-panel__body-wrapper {
    position: relative;
  }

  .el-picker-panel__content {
    width: 292px;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  @include mixins.e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include mixins.e(time-header) {
    position: relative;
    box-sizing: border-box;
    display: table;
    width: 100%;
    padding: 8px 5px 5px;
    font-size: 12px;
    border-bottom: 1px solid var.$datepicker-inner-border-color;
  }

  @include mixins.e(header) {
    margin: 12px;
    text-align: center;

    @include mixins.m(bordered) {
      padding-bottom: 12px;
      margin-bottom: 0;
      border-bottom: solid 1px var.$border-color-lighter;

      & + .el-picker-panel__content {
        margin-top: 0;
      }
    }
  }

  @include mixins.e(header-label) {
    padding: 0 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var.$color-text-regular;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: var.$datepicker-hover-font-color;
    }

    &.active {
      color: var.$datepicker-active-color;
    }
  }

  @include mixins.e(prev-btn) {
    float: left;
  }

  @include mixins.e(next-btn) {
    float: right;
  }

  @include mixins.e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include mixins.e(time-label) {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
  }
}
