@use '../mixins/mixins';
@use '../common/var';
@use '../common/transition';

@include mixins.b(date-editor-v2) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.el-input:not(.el-input--medium, .el-input--small, .el-input--mini) {
    .el-input__inner {
      height: 36px;
      line-height: 36px;
    }

    .el-input__icon {
      line-height: 36px;
    }
  }

  &.el-input__inner {
    height: 36px;
    line-height: 36px;
  }

  &.el-input,
  &.el-input__inner {
    width: 220px;
  }

  @include mixins.m((monthrange)) {
    &.el-input,
    &.el-input__inner {
      width: 300px;
    }
  }

  @include mixins.m((daterange, timerange)) {
    &.el-input,
    &.el-input__inner {
      width: 350px;
    }
  }

  @include mixins.m(datetimerange) {
    &.el-input,
    &.el-input__inner {
      width: 400px;
    }
  }

  @include mixins.m(dates) {
    .el-input__inner {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-icon-circle-close {
    cursor: pointer;
  }

  .el-range-input-v2 {
    display: inline-block;
    width: 39%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: var.$font-size-base;
    line-height: 36px;
    color: var.$color-text-regular;
    text-align: center;
    appearance: none;
    outline: none;
    border: none;

    &::placeholder {
      color: var.$color-text-placeholder;
    }
  }

  .el-range-separator-v2 {
    display: inline-block;
    width: 5%;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    font-size: 14px;
    line-height: 36px;
    color: var.$color-text-primary;
    text-align: center;
  }

  .el-range-v2__close-icon {
    float: right;
    display: inline-block;
    width: 25px;
    font-size: 14px;
    line-height: 36px;
    color: var.$color-text-placeholder;
  }
}

@include mixins.b(range-editor-v2) {
  &.el-input__inner {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 10px;
  }

  .el-range-input-v2 {
    line-height: 36px;
  }

  @include mixins.when(active) {
    border-color: var.$color-primary;

    &:hover {
      border-color: var.$color-primary;
    }
  }

  @include mixins.m(medium) {
    &.el-input__inner {
      height: var.$input-medium-height;
    }

    .el-range-separator-v2 {
      font-size: var.$input-medium-font-size;
      line-height: var.$input-medium-height;
    }

    .el-range-input-v2 {
      font-size: var.$input-medium-font-size;
      line-height: var.$input-medium-height;
    }

    .el-range-v2__close-icon {
      line-height: var.$input-medium-height;
    }
  }

  @include mixins.m(small) {
    &.el-input__inner {
      height: var.$input-small-height;
    }

    .el-range-separator-v2 {
      font-size: var.$input-small-font-size;
      line-height: var.$input-small-height;
    }

    .el-range-input-v2 {
      font-size: var.$input-small-font-size;
      line-height: var.$input-small-height;
    }

    .el-range-v2__close-icon {
      line-height: var.$input-small-height;
    }
  }

  @include mixins.m(mini) {
    &.el-input__inner {
      height: var.$input-mini-height;
    }

    .el-range-separator-v2 {
      font-size: var.$input-mini-font-size;
      line-height: var.$input-mini-height;
    }

    .el-range-input-v2 {
      font-size: var.$input-mini-font-size;
      line-height: var.$input-mini-height;
    }

    .el-range-v2__close-icon {
      line-height: var.$input-mini-height;
    }
  }

  @include mixins.when(disabled) {
    color: var.$input-disabled-color;
    cursor: not-allowed;
    background-color: var.$input-disabled-fill;
    border-color: var.$input-disabled-border;

    &:hover,
    &:focus {
      border-color: var.$input-disabled-border;
    }

    input {
      color: var.$input-disabled-color;
      cursor: not-allowed;
      background-color: var.$input-disabled-fill;

      &::placeholder {
        color: var.$input-disabled-placeholder-color;
      }
    }

    .el-range-separator-v2 {
      color: var.$input-disabled-color;
    }
  }
}
