@use 'mixins/mixins';
@use 'common/var';

@include mixins.b(backtop) {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var.$backtop-font-color;
  cursor: pointer;
  background-color: var.$backtop-background-color;
  border-radius: 50%;
  box-shadow: 0 0 6px rgb(0 0 0 / 12%);

  &:hover {
    background-color: var.$backtop-hover-background-color;
  }
}
