@use 'mixins/mixins';
@use 'common/var';

@include mixins.b(badge) {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  @include mixins.e(content) {
    display: inline-block;
    height: var.$badge-size;
    padding: 0 var.$badge-padding;
    font-size: var.$badge-font-size;
    line-height: var.$badge-size;
    color: var.$color-white;
    text-align: center;
    white-space: nowrap;
    background-color: var.$badge-background-color;
    border: 1px solid var.$color-white;
    border-radius: var.$badge-radius;

    @include mixins.when(fixed) {
      position: absolute;
      top: 0;
      right: #{1 + calc(var.$badge-size / 2)};
      transform: translateY(-50%) translateX(100%);

      @include mixins.when(dot) {
        right: 5px;
      }
    }

    @include mixins.when(dot) {
      right: 0;
      width: 8px;
      height: 8px;
      padding: 0;
      border-radius: 50%;
    }

    @each $type in (primary, success, warning, info, danger) {
      @include mixins.m($type) {
        @if $type == primary {
          background-color: var.$color-primary;
        } @else if $type == success {
          background-color: var.$color-success;
        } @else if $type == warning {
          background-color: var.$color-warning;
        } @else if $type == info {
          background-color: var.$color-info;
        } @else {
          background-color: var.$color-danger;
        }
      }
    }
  }
}
