@use 'mixins/mixins';
@use 'mixins/button';
@use 'common/var';

@include mixins.b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include mixins.e(inner) {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    font-weight: var.$button-font-weight;
    line-height: 1;
    vertical-align: middle;
    color: var.$button-default-font-color;
    text-align: center;
    white-space: nowrap;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: var.$button-default-background-color;
    border: var.$border-base;
    border-left: 0;
    transition: var.$all-transition;

    @include button.button-size(var.$button-padding-vertical, var.$button-padding-horizontal, var.$button-font-size, 0);

    &:hover {
      color: var.$color-primary;
    }

    & [class*='el-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .el-radio-button__inner {
      border-left: var.$border-base;
      border-radius: var.$border-radius-base 0 0 var.$border-radius-base;
      box-shadow: none !important;
    }
  }

  @include mixins.e(orig-radio) {
    position: absolute;
    z-index: -1;
    outline: none;
    opacity: 0;

    &:checked {
      & + .el-radio-button__inner {
        color: var.$radio-button-checked-font-color;
        background-color: var.$radio-button-checked-background-color;
        border-color: var.$radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 var.$radio-button-checked-border-color;
      }
    }

    &:disabled {
      & + .el-radio-button__inner {
        color: var.$button-disabled-font-color;
        cursor: not-allowed;
        background-color: var.$button-disabled-background-color;
        background-image: none;
        border-color: var.$button-disabled-border-color;
        box-shadow: none;
      }

      &:checked + .el-radio-button__inner {
        background-color: var.$radio-button-disabled-checked-fill;
      }
    }
  }

  &:last-child {
    .el-radio-button__inner {
      border-radius: 0 var.$border-radius-base var.$border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .el-radio-button__inner {
      border-radius: var.$border-radius-base;
    }
  }

  @include mixins.m(medium) {
    & .el-radio-button__inner {
      @include button.button-size(
        var.$button-medium-padding-vertical,
        var.$button-medium-padding-horizontal,
        var.$button-medium-font-size,
        0
      );
    }
  }

  @include mixins.m(small) {
    & .el-radio-button__inner {
      @include button.button-size(
        var.$button-small-padding-vertical,
        var.$button-small-padding-horizontal,
        var.$button-small-font-size,
        0
      );
    }
  }

  @include mixins.m(mini) {
    & .el-radio-button__inner {
      @include button.button-size(
        var.$button-mini-padding-vertical,
        var.$button-mini-padding-horizontal,
        var.$button-mini-font-size,
        0
      );
    }
  }

  &:focus:not(.is-focus, :active, .is-disabled) {
    /* 获得焦点时 样式提醒 */
    box-shadow: 0 0 2px 2px var.$radio-button-checked-border-color;
  }
}
